.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 2rem 40px;
  max-width: 882px;
  margin: 0 auto;
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
}

.profile__info {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}

.profile__edit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 17px;
}

.profile__name {
  margin: 0;
  font-family: "Inter Black";
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__type {
  margin: 0;
  font-family: "Inter";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  background-color: black;
  border: 2px solid white;
  background: url(../images/edit_button.svg) no-repeat center;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid white;
  margin-top: 30px;
  background: url(../images/add_button.svg) no-repeat center;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile {
    padding: 2.2em 0 3.1em;
    flex-direction: column;
    align-items: center;
  }
  .profile__content {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    align-items: center;
  }
  .profile__name {
    font-size: 22px;
  }

  .profile__type {
    font-size: 14px;
  }
  .profile__button-add {
    width: 282px;
    height: 50px;
  }
}
